.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.navbar__logo {
  width: 80px;
  margin-left: 100px;
}

.navbar__input {
  margin-right: 80px;
  height: 35px;
  width: 210px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.navbar__input::placeholder {
  color: rgba(128, 128, 128, 0.589);
}

@media screen and (max-width: 650px) {
  .navbar__logo {
    margin-left: 10px;
  }
}
